<div class="mb-5">
    <h1 class="text-2xl text-secondary">Lista de usuarios</h1>
</div>
<div class=" divider divider-secondary"></div>

<div class="flex w-full gap-2 items-center h-20 justify-between">
  <label class="floating-label mb-10 mt-4">
    <span>Items Per Page</span>
    <select
      class="select select-bordered w-32"
      [value]="limit()"
      (change)="setLimit(itemPP.value)"
      #itemPP
    >
      <option>5</option>
      <option>10</option>
      <option>15</option>
      <option>30</option>
    </select>
  </label>

  <app-pagination
    [pages]="userResource.value()?.data?.totalPages ?? 0"
    [currentPage]="paginationService.currentPage()"
  ></app-pagination>

  <button
    class="btn btn-secondary mb-10 mt-4"
    routerLink="/dashboard/users/new"
  >
    <i class="bi bi-plus-circle"></i> New User
  </button>
</div>

@if (userResource.isLoading()) {
<div class="flex justify-center items-center h-screen">
    <span class="loading loading-spinner loading-lg"></span>
</div>
}

@if (userResource.hasValue()) {
<user-table [users]="userResource.value().data.users" 
(deleted)="deletedUser($event)"></user-table>
}@else {

<div class="flex justify-center items-center h-screen">
    <h2 class="text-2xl">Lista no tiene datos para mostrar</h2>
</div>
}
<app-pagination
    [pages]="userResource.value()?.data?.totalPages ?? 0"
    [currentPage]="paginationService.currentPage()"
  ></app-pagination>