<div class="flex flex-col items-center min-h-[83vh] py-10 bg-base-300">
    <h1 class="text-4xl font-bold mb-10">Posts</h1>
    <div class="flex flex-wrap gap-4 justify-center">
        @if (PostResource.hasValue()) {
        @for (post of PostResource.value().data.posts; track post.id) {
        <div class="card card-side bg-base-100 shadow-sm my-3 w-[550px] h-[200px] flex-none">
            <figure class="w-[300px] h-full overflow-hidden">
                <img [src]="post.id | postImage" alt="Post Image" class="object-cover w-full h-full" />
                </figure>
            <div class="card-body p-4 w-[250px] flex flex-col justify-between">
                <h2 class="card-title text-lg font-semibold overflow-hidden text-ellipsis whitespace-nowrap mb-2">
                    {{ post.title }}
                </h2>
                <p class="text-sm text-gray-600 line-clamp-2 mb-4">
                    Author: {{post.Author.first_name}} {{post.Author.last_name}}
                    </p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary" [routerLink]="['./', post.id]">
                        Read More...
                    </button>
                </div>
            </div>
        </div>
        }
        } @else {
        <div class="alert alert-info shadow-lg">
            <div>
                <span>There are no posts available.</span>
            </div>
        </div>
        }
    </div>
</div>