<dialog id="my_modal_1" class="modal" [class.modal-open]="isOpen()">
    <div class="modal-box">
        <h3 class="text-lg font-bold text-center mb-5 uppercase">Datos del rol</h3>

        <form action="" [formGroup]="roleForm" (ngSubmit)="onSubmit()">
            <label class="floating-label">
                <span>Role Name</span>
                <input type="text" placeholder="Role Name" class="input input-md input-bordered w-full"
                    formControlName="name" />
            </label>
            <div class="flex justify-center h-12 mt-5">
                <button class="btn btn-secondary px-20 text-lg" type="submit">
                    <!-- <span class="loading loading-spinner loading-sm"></span> -->
                    Guardar
                </button>
            </div>
        </form>

        <div class="modal-action">
            <form method="dialog">
                <button class="btn" (click)="closeModal()">Close</button>
            </form>
        </div>
    </div>
</dialog>