<div class="mb-5">
    <h1 class="text-2xl text-secondary">Lista de usuarios</h1>
</div>
<div class=" divider divider-secondary"></div>

<div class="flex gap-2 items-center h-20">
    <app-pagination [pages]="userResource.value()?.data?.totalPages ?? 0"
    [limit]="limit()"
    ></app-pagination>
    <select class="select select-bordered w-32 mb-10 mt-4" 
    [value]="limit()"
    (change)="setLimit(itemPP.value)"#itemPP
  >
       
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>


    <div class="flex flex-1"></div>
    <button class="btn btn-secondary" routerLink='/dashboard/users/new'>
        <i class="bi bi-plus-circle"></i> New user
    </button>
</div>

@if (userResource.isLoading()) {
<div class="flex justify-center items-center h-screen">
    <span class="loading loading-spinner loading-lg"></span>
</div>
}

@if (userResource.hasValue()) {
<user-table [users]="userResource.value().data.users"></user-table>
}@else {

<div class="flex justify-center items-center h-screen">
    <h2 class="text-2xl">Lista no tiene datos para mostrar</h2>
</div>
}

    <app-pagination [pages]="userResource.value()?.data?.totalPages ?? 0"
    [limit]="limit()"
    ></app-pagination>